# rsync backup
alias backup_sync='rsync -av --exclude=".cache/*" --exclude="snap/*" --exclude="*/.venv/*" --exclude=".local/*" --exclude=".bash_it/*" --exclude=".themes/*" ---exclude=".vim/plugged/*" -exclude="Downloads/*" /home/ruan/ /backups/home/ruan/'

# tar backup
alias backup_tar="tar -zcvf ~/backups/laptop-backup-$(date +%F).tar.gz ~/.ssh/config ~/personal ~/workspace ~/Documents ~/Desktop"
