# aws-cli
aws(){
  docker run --rm -it -e AWS_DEFAULT_REGION=eu-west-1 -v ~/.aws/credentials:/root/.aws/credentials ruanbekker/awscli aws "$@"
}

# maven
mvn(){
  docker run -it --rm --name maven -v "$(pwd)":/usr/src/mymaven -v ~/.m2:/root/.m2 -w /usr/src/mymaven maven:3.6.3-openjdk-15 mvn "$@"
}

# mysql client
mysql(){
  docker run -it ruanbekker/mysql-client "$@"
}

# vpn: aws-default-vpc
vpn_aws_vpc(){
  sshuttle -r eu-west-1.aws.jump-host 172.31.0.0/16
}
